<h2>@Model.GetName()<h2>
<h3>Register a new Band to play at @Model.GetName()<h3>
<form action="/venue/@Model.GetId()/add-band" method="post">
  <label for="newBand">Name of Band</label>
  <input id="newBand" name="newBand">
  <button type="submit">Register</button>
</form>
<h3>All Bands Playing</h3>
<ul>
@foreach (var currentBand in @Model.GetBands())
{
  <li>
    <a href="/band/@currentBand.GetId()">@currentBand.GetName()</a>
  </li>
}
</ul>

<a href="/">Return Home</a>
